.video-grid {
  margin-top: 20px;
  display: grid;
  column-gap: 15px;
  row-gap: 30px;
}

@media (max-width: 500px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 501px) and (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-container {
  position: relative;
}

.thumbnail {
  border-radius: 10px;
  width: 100%;
}

.video-length {
  padding: 3px;
  font-size: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.615);
  border-radius: 5px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

/* Channel image, video title, uploader, views */
.video-info {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr; /* 10% and 90% columns */
  column-gap: 10px;
}

.channel-img-container {
  width: 100%;
}

.channel-img {
  width: 100%;
  border-radius: 100%;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 20px;
}

.video-uploader,
.video-stats {
  font-size: x-small;
  color: grey;
  margin-top: 5px;
  margin-bottom: 2px;
}
